<ul class="nav nav-tabs">

    <li ng-repeat="tab in menus">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{tab.name}} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li ng-class="{dropdown-submenu: !!item.subitems}" ng-repeat="item in tab.items">
                <a href="#">{{item.name}}</a>
                <ul class="dropdown-menu">
                    <li ng-repeat="subitem in item.subitems">{{subitem.name}}</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
